{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="h2 mb-0">Danh sách hóa đơn</h1>
    <a href="{% url 'hoadon_create' %}" class="btn btn-primary">
      <i class="bi bi-plus-circle me-2"></i>
      Thêm hóa đơn
    </a>
  </div>

  <div class="table-responsive">
    <table class="table table-hover table-striped table-bordered">
      <thead class="table-dark">
        <tr>
          <th>Mã hóa đơn</th>
          <th>Ngày lập</th>
          <th>Khách hàng</th>
          <th>Tổng tiền</th>
          <th>Trạng thái</th>
          <th>Ghi chú</th>
          <th>Hành động</th>
        </tr>
      </thead>
      <tbody>
        {% for hoadon in hoadon_list %}
        <tr>
          <td>{{ hoadon.ma_hoa_don }}</td>
          <td>{{ hoadon.ngay_lap }}</td>
          <td>{{ hoadon.khach_hang }}</td>
          <td>{{ hoadon.tong_tien }}</td>
          <td>{{ hoadon.trang_thai }}</td>
          <td>{{ hoadon.ghi_chu }}</td>

          <td>
            <a href="{% url 'hoadon_update' hoadon.ma_hoa_don %}" class="btn btn-primary btn-sm">
              <i class="bi bi-pencil-square"></i>
            </a>
            <a href="{% url 'hoadon_delete' hoadon.ma_hoa_don %}" class="btn btn-danger btn-sm">
              <i class="bi bi-trash"></i>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
