{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="h2 mb-0">Danh sách sách</h1>
    <a href="{% url 'sach_create' %}" class="btn btn-primary">
      <i class="bi bi-plus-circle me-2"></i>
      Thêm sách
    </a>
  </div>

  <div class="table-responsive">
    <table class="table table-hover table-striped table-bordered">
      <thead class="table-dark">
        <tr>
          <th>Mã sách</th>
          <th>Tên sách</th>
          <th>Nhà xuất bản</th>
          <th>Tác giả</th>
          <th>Giá</th>
          <th>Mô tả</th>
          <th>Hành động</th>
        </tr>
      </thead>
      <tbody>
        {% for sach in sach_list %}
        <tr>
          <td>{{ sach.ma_sach }}</td>
          <td>{{ sach.ten_sach }}</td>
          <td>{{ sach.nha_xuat_ban }}</td>
          <td>{{ sach.tac_gia }}</td>
          <td>{{ sach.gia }}</td>
          <td>{{ sach.mo_ta }}</td>

          <td>
            <a href="{% url 'sach_update' sach.ma_sach %}" class="btn btn-primary btn-sm">
              <i class="bi bi-pencil-square"></i>
            </a>
            <a href="{% url 'sach_delete' sach.ma_sach %}" class="btn btn-danger btn-sm">
              <i class="bi bi-trash"></i>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
